*.iml
.gradle/
/local.properties
.idea/
.kotlin/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
**/build/
backend/node_modules/
backend/.env
backend/*.db*
backend/media/*
!backend/media/avatars/
backend/media/avatars/*
!backend/media/avatars/default-avatar.svg
p.txt
